<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Available appeals</title>
<link rel="stylesheet" type="text/css" media="all" href="mystyle.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700;900&display=swap" rel="stylesheet">
</head>
<body class="page-transition">
	<div id="logitem">
		<div id="user">
			<span id="id_nome" th:text="${session.user.nome}"></span> <span id="id_cognome" th:text="${session.user.cognome}"></span>
		</div>
		<div>
			<a class="button" th:href="@{/Logout}">Logout</a>
			<a class="button" th:href="@{/GoToHomeProfessor}" th:text="'Back home'">Back to the Home page</a>
		</div>
	</div>
	<div id="page-container" class="container">
		<div class="column">
			<div id="id_alert" class="alertmessage" th:if="${alertMessage!=null}" th:text="${alertMessage}" ></div>
			<h2 th:if="${courseName!=null}" th:text="'These are the appeals for ' + ${courseName} + ':'"></h2>
			<ul>
				<li th:if="${appelli!=null}" th:each="a : ${appelli}">
					<!-- <span th:text="${a.idCorso} :"></span> --> 
					<a href="RegisteredStudents.html"
					   th:href="@{/GetRegisteredStudentsByAppeal(dataAppello=${a.data},idCorso=${a.idCorso},sortBy='matricola',order='ASC')}"
					    th:text="${a.data}">
				    </a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>